.footer-start {
  margin-top: 8%;
}

.footer-div {
  background-color: #E3E9F8;
  border-radius: 10px;
  height: 80px;
  padding-top: 5%;
  padding-left: 1%;
  padding-right: 1%;
}

.footer-icons {
  float: right;
  padding-right: 1%;
}