@use '../base/helper';

nav {
  @extend %flex-layout;
}

nav {
  a {
    color: #214D64;
    text-decoration: none;
    opacity: 0.75;

    &:hover {
      opacity: 1;
    }
  }
}

.nav-section {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}